In [1]:
# !pip install webdriver-manager

In [2]:
# !pip install selenium

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [4]:
'''
data는 4년전 데이터
'''

'\ndata는 4년전 데이터\n'

In [5]:
data = pd.read_csv("FIFA_train.csv")
data.head()

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value
0,0,L. Messi,31,south america,2021,ST,left,5.0,94,94,4.0,110500000.0
1,3,De Gea,27,europe,2020,GK,right,4.0,91,93,1.0,72000000.0
2,7,L. Suárez,31,south america,2021,ST,right,5.0,91,91,3.0,80000000.0
3,8,Sergio Ramos,32,europe,2020,DF,right,4.0,91,91,3.0,51000000.0
4,9,J. Oblak,25,europe,2021,GK,right,3.0,90,93,1.0,68000000.0

In [6]:
# data['name'].str.split('.')

In [7]:
data['name_num'] = data['name'].apply(lambda x: len(x.split('.')))
data[data['name_num'] >= 3]   # .으로 split했을때 길이가 3이상인 데이터는 없음

Empty DataFrame
Columns: [id, name, age, continent, contract_until, position, prefer_foot, reputation, stat_overall, stat_potential, stat_skill_moves, value, name_num]
Index: []

In [8]:
data

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value,name_num
0,0,L. Messi,31,south america,2021,ST,left,5.0,94,94,4.0,110500000.0,2
1,3,De Gea,27,europe,2020,GK,right,4.0,91,93,1.0,72000000.0,1
2,7,L. Suárez,31,south america,2021,ST,right,5.0,91,91,3.0,80000000.0,2
3,8,Sergio Ramos,32,europe,2020,DF,right,4.0,91,91,3.0,51000000.0,1
4,9,J. Oblak,25,europe,2021,GK,right,3.0,90,93,1.0,68000000.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8927,16925,S. Adewusi,18,africa,2019,MF,right,1.0,48,63,3.0,60000.0,2
8928,16936,C. Ehlich,19,europe,2020,DF,right,1.0,47,59,2.0,40000.0,2
8929,16941,N. Fuentes,18,south america,2021,DF,right,1.0,47,64,2.0,50000.0,2
8930,16942,J. Milli,18,europe,2021,GK,right,1.0,47,65,1.0,50000.0,2
8931,16948,N. Christoffersson,19,europe,2020,ST,right,1.0,47,63,2.0,60000.0,2

In [9]:
data['Fake_start_name'] = data['name'].apply(lambda x: x.split('.')[0] if len(x.split('.')) >= 2 else x[:1])
data['Fake_end_name'] = data['name'].apply(lambda x: x.split('.')[1] if len(x.split('.')) >= 2 else x)

data['2022age'] = data['age']+4
data[['Fake_start_name','Fake_end_name','2022age']]

     Fake_start_name     Fake_end_name  2022age
0                  L             Messi       35
1                  D            De Gea       31
2                  L            Suárez       35
3                  S      Sergio Ramos       36
4                  J             Oblak       29
...              ...               ...      ...
8927               S           Adewusi       22
8928               C            Ehlich       23
8929               N           Fuentes       22
8930               J             Milli       22
8931               N   Christoffersson       23

[8932 rows x 3 columns]

In [303]:
fake_data = data[['name','name_num','Fake_start_name','Fake_end_name','2022age','continent']]
# fake_data.to_csv("Fake_data.csv", index=False)

In [11]:
Fake_data = pd.read_csv('Fake_data')
Fake_data

,name,name_num,Fake_start_name,Fake_end_name,2022age,continent
0,L. Messi,2,L,Messi,35,south america
1,De Gea,1,D,De Gea,31,europe
2,L. Suárez,2,L,Suárez,35,south america
3,Sergio Ramos,1,S,Sergio Ramos,36,europe
4,J. Oblak,2,J,Oblak,29,europe
...,...,...,...,...,...,...
8927,S. Adewusi,2,S,Adewusi,22,africa
8928,C. Ehlich,2,C,Ehlich,23,europe
8929,N. Fuentes,2,N,Fuentes,22,south america
8930,J. Milli,2,J,Milli,22,europe
8931,N. Christoffersson,2,N,Christoffersson,23,europe

In [12]:
# same_name = data['Fake_name'].value_counts()
# same_name = pd.DataFrame(same_name)
# same_name[same_name['Fake_name']>=2]

In [13]:
# import matplotlib.pyplot as plt

# plt.figure(figsize=(20,20))

# data['Fake_name'].value_counts()[:100].plot(kind='bar')

In [14]:
Fake_data['continent'].unique()

array(['south america', 'europe', 'africa', 'asia', 'oceania'],
      dtype=object)

In [15]:
Fake_data[Fake_data['continent'] == 'europe']

,name,name_num,Fake_start_name,Fake_end_name,2022age,continent
1,De Gea,1,D,De Gea,31,europe
3,Sergio Ramos,1,S,Sergio Ramos,36,europe
4,J. Oblak,2,J,Oblak,29,europe
6,David Silva,1,D,David Silva,36,europe
7,N. Kanté,2,N,Kanté,31,europe
...,...,...,...,...,...,...
8923,T. Gundelund,2,T,Gundelund,20,europe
8924,M. Frøkjær-Jensen,2,M,Frøkjær-Jensen,22,europe
8928,C. Ehlich,2,C,Ehlich,23,europe
8930,J. Milli,2,J,Milli,22,europe
8931,N. Christoffersson,2,N,Christoffersson,23,europe

In [16]:
data.sort_values('value', ascending=False).iloc[:30]

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value,name_num,Fake_start_name,Fake_end_name,2022age
0,0,L. Messi,31,south america,2021,ST,left,5.0,94,94,4.0,110500000.0,2,L,Messi,35
2,7,L. Suárez,31,south america,2021,ST,right,5.0,91,91,3.0,80000000.0,2,L,Suárez,35
17,30,Isco,26,europe,2022,ST,right,3.0,88,91,4.0,73500000.0,1,I,Isco,30
1,3,De Gea,27,europe,2020,GK,right,4.0,91,93,1.0,72000000.0,1,D,De Gea,31
14,26,M. Salah,26,africa,2023,MF,left,3.0,88,89,4.0,69500000.0,2,M,Salah,30
18,32,Coutinho,26,south america,2023,ST,right,3.0,88,89,5.0,69500000.0,1,C,Coutinho,30
4,9,J. Oblak,25,europe,2021,GK,right,3.0,90,93,1.0,68000000.0,2,J,Oblak,29
26,45,P. Pogba,25,europe,2021,MF,right,4.0,87,91,5.0,64000000.0,2,P,Pogba,29
7,14,N. Kanté,27,europe,2023,MF,right,3.0,89,90,2.0,63000000.0,2,N,Kanté,31
27,47,R. Lukaku,25,europe,2022,ST,left,3.0,87,89,3.0,62500000.0,2,R,Lukaku,29
16,29,L. Insigne,27,europe,2022,ST,right,3.0,88,88,4.0,62000000.0,2,L,Insigne,31
11,21,E. Cavani,31,south america,2020,ST,right,4.0,89,89,3.0,60000000.0,2,E,Cavani,35
6,13,David Silva,32,europe,2020,MF,left,4.0,90,90,4.0,60000000.0,1,D,David Silva,36
15,27,Casemiro,26,south america,2021,MF,right,3.0,88,90,2.0,59500000.0,1,C,Casemiro,30
19,33,P. Aubameyang,29,africa,2021,MF,right,3.0,88,88,4.0,59000000.0,2,P,Aubameyang,33
8,18,M. ter Stegen,26,europe,2022,GK,right,3.0,89,92,1.0,58000000.0,2,M,ter Stegen,30
24,42,S. Umtiti,24,europe,2023,DF,left,3.0,87,92,2.0,57000000.0,2,S,Umtiti,28
22,38,G. Higuaín,30,south america,"Jun 30, 2019",ST,right,4.0,88,88,3.0,57000000.0,2,G,Higuaín,34
35,63,M. Verratti,25,europe,2021,MF,right,3.0,86,89,4.0,55000000.0,2,M,Verratti,29
46,79,Marco Asensio,22,europe,2023,ST,left,3.0,85,92,4.0,54000000.0,1,M,Marco Asensio,26
9,19,T. Courtois,26,europe,2024,GK,left,4.0,89,90,1.0,53500000.0,2,T,Courtois,30
33,58,S. Mané,26,africa,2023,MF,right,3.0,86,87,4.0,52000000.0,2,S,Mané,30
10,20,Sergio Busquets,29,europe,2023,MF,right,4.0,89,89,3.0,51500000.0,1,S,Sergio Busquets,33
25,44,K. Koulibaly,27,africa,2021,DF,right,3.0,87,90,2.0,51000000.0,2,K,Koulibaly,31
3,8,Sergio Ramos,32,europe,2020,DF,right,4.0,91,91,3.0,51000000.0,1,S,Sergio Ramos,36
48,83,Saúl,23,europe,2026,MF,left,3.0,85,90,3.0,50500000.0,1,S,Saúl,27
45,78,S. Milinković-Savić,23,europe,2023,MF,right,2.0,85,90,4.0,50500000.0,2,S,Milinković-Savić,27
31,53,I. Rakitić,30,europe,2021,MF,right,4.0,87,87,3.0,46500000.0,2,I,Rakitić,34
30,52,M. Hamšík,30,europe,2020,MF,right,3.0,87,87,3.0,46500000.0,2,M,Hamšík,34
37,65,Douglas Costa,27,south america,2022,MF,left,3.0,86,86,5.0,46500000.0,1,D,Douglas Costa,31

In [17]:
# !pip install xlml

In [183]:
import  numpy as np
import  pandas as pd
import  matplotlib.pyplot as plt
import  os
import  copy
from  tqdm import  tqdm

from bs4 import BeautifulSoup
from  urllib.parse import quote
import urllib.request
import requests
import urllib.parse
from  urllib import parse

import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
import json
import selenium
from selenium import webdriver
# import pyperclip

In [79]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [239]:
# '''
# Real_code
# '''
# chrome_options = webdriver.ChromeOptions()
# chrome_options.add_experimental_option("detach",True)
# # driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)


# baseurl = 'https://1xbet.whoscored.com/'
# driver = webdriver.Chrome('./chromedriver.exe')
# driver.get(baseurl)

# # driver.implicitly_wait(time_to_wait=1000) # 암묵적 대기, 로딩이 끝나면 바로 다음 코드를 진행
# driver.implicitly_wait(5)
# driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[3]/div/form/input").click()



# country = []
# team = []
# not_found_name = []

# for i,fake_name in enumerate(Fake_data['Fake_end_name'][:3]):
    
#     try:
#         # 검색기능
#         search_engine = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[3]/div/form/input")
#         search_engine.send_keys(fake_name)   #-#-#-#-#
#         driver.implicitly_wait(5)

#         enter = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[3]/div/form/div/span")
#         enter.click()
#         driver.implicitly_wait(5)

#         # 진짜 이름 클릭
#         name = driver.find_elements(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr')

#         if len(name[1:]) == 1:
#             real = driver.find_element(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr[2]/td[1]/a')
#             real.click()


#         else:    
#             for i in range(len(name[1:])):
#                 if (str(Fake_data['2022age'][i]) == name[1:][i].text[-2:]):
#                     real = driver.find_element(By.XPATH, f'/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr[{i}+2]/td[1]/a')

#             real.click()
#         driver.implicitly_wait(5)

#         try:

#             # 국적 갖고오기

#             country1 = driver.find_element(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[1]/div[2]/div[2]/div[6]/span[2]').text
#             country.append(country1)
#             driver.implicitly_wait(5)

#         except:
#             country.append(np.nan)

#         try:
#             # history click

#             history = driver.find_element(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[2]/ul/li[4]/a')
#             history.click()
#             driver.implicitly_wait(5)

#             # 팀갖고오기
#             team1 = driver.find_element(By.XPATH,'/html/body/div[4]/div[4]/div[1]/div[3]/div').text.split('\n')
#             fake_df = pd.DataFrame(team1)
#             fake_df = fake_df[fake_df[0].str.contains('2017/2018')]
#             team1 = fake_df.iloc[0,:1][0][10:]
#             team.append(team1)

#         except:
#             team.append(np.nan)
#     except:
#         country.append(np.nan)
#         team.append(np.nan)
#         not_found_name.append(fake_name)
#         print(fake_name)

C:\Users\HP\AppData\Local\Temp\ipykernel_12548\3838529353.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver.exe')

De Gea

In [240]:
country

['Argentina', nan, nan]

In [220]:
country

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [217]:
Fake_data['Fake_end_name'] ==

0                  Messi
1                 De Gea
2                 Suárez
3           Sergio Ramos
4                  Oblak
              ...
8927             Adewusi
8928              Ehlich
8929             Fuentes
8930               Milli
8931     Christoffersson
Name: Fake_end_name, Length: 8932, dtype: object

In [216]:
real = driver.find_element(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr[2]/td[1]/a')
real.click()

In [245]:
import selenium
from selenium import webdriver

chrome_options = webdriver.ChromeOptions()
chrome_options.add_experimental_option("detach",True)
# driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)


baseurl = 'https://1xbet.whoscored.com/'
driver = webdriver.Chrome('./chromedriver.exe')
driver.get(baseurl)

# driver.implicitly_wait(time_to_wait=1000) # 암묵적 대기, 로딩이 끝나면 바로 다음 코드를 진행
driver.implicitly_wait(5)
driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[3]/div/form/input").click()

C:\Users\HP\AppData\Local\Temp\ipykernel_12548\4049170145.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver.exe')

In [264]:
search_engine = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[3]/div/form/input")
search_engine.send_keys(Fake_data['Fake_end_name'][0])

enter = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[3]/div/form/div/span")
enter.click()

In [265]:
name = driver.find_elements(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr')
name

[<selenium.webdriver.remote.webelement.WebElement (session="79171902ff995c04c202d4ca3743aadc", element="a83a235f-7272-4d83-98fa-ba16b517d44c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79171902ff995c04c202d4ca3743aadc", element="783b01e7-97d6-4b1d-afaa-dc42201c264a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79171902ff995c04c202d4ca3743aadc", element="40b21838-9bc8-4fa4-9205-e3c9caf22dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79171902ff995c04c202d4ca3743aadc", element="845dc1ea-053e-4903-aff4-bcb8995ae7ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="79171902ff995c04c202d4ca3743aadc", element="1d739c8b-60bd-4dea-8aee-de1fe2fcc887")>]

In [299]:
name[2].text

'Mbida Messi\n41'

In [302]:
for i in range(3):
    print(name[i].text[:1] == 'L')

False
True
False

In [234]:
name[1:][0].text

'Joakim Milli\nLecce'

In [168]:
# name = driver.find_elements(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr')

# for i in range(len(name[1:])):
    
#     if str(Fake_data['2022age'][0]) == name[1:][i].text[-2:]:
#         real = driver.find_element(By.XPATH, f'/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr[{i}+1]')
#         real.click()

In [ ]:
# /html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr[2]/td[1]/a

In [270]:
# 진짜 메시 클릭

name = driver.find_elements(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr')

for i in range(len(name[1:])):
    if (str(Fake_data['2022age'][0]) == name[1:][i].text[-2:]) & (Fake_data['Fake_start_name'][2] == name[1:][i].text[0]):
        print(i)
#         real = driver.find_element(By.XPATH, f'/html/body/div[4]/div[3]/div[1]/div[2]/table/tbody/tr[{i}+2]/td[1]/a')
# real.click()

0

In [263]:
Fake_data['2022age'][2] == name[1:][6].text[-2:]

False

In [289]:
name[1:][2].text

'Messi Essomba\n32'

In [293]:
len(name[1:])

4

In [295]:
for i in range(len(name[1:])):
    a = name[1:][i].text
    print(a)

Lionel Messi
Paris Saint-Germain
35
Mbida Messi
41
Messi Essomba
32
Enguene Junior Messi
28

In [228]:
# 국적 갖고오기

country = driver.find_element(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[1]/div[2]/div[2]/div[6]/span[2]').text
country

'Argentina'

In [229]:
# history click

history = driver.find_element(By.XPATH, '/html/body/div[4]/div[3]/div[1]/div[2]/ul/li[4]/a')
history.click()

In [230]:
# 팀갖고오기

team = driver.find_element(By.XPATH,'/html/body/div[4]/div[4]/div[1]/div[3]/div').text.split('\n')
fake_df = pd.DataFrame(team)
fake_df = fake_df[fake_df[0].str.contains('2017/2018')]
fake_df.iloc[0,:1][0][10:]

'Barcelona'

In [93]:
headers={"User-Agent" : "Mozilla/5.0"}

In [96]:
# import requests
# from bs4 import BeautifulSoup

# url = 'https://1xbet.whoscored.com/Search/?t=messi'

# response = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})

# html = response.text
# # soup = BeautifulSoup(html, 'html.parser')
# # soup

# rescode = response.getcode()

# response_body = response.read()
# respponse_body = json.loads(response_body)

# resultdata = response_body['items']
# resultdata

AttributeError: 'Response' object has no attribute 'getcode'